root = true

[*.cs]

# Indentation
indent_style = space
indent_size = 4

# Line endings
end_of_line = lf
insert_final_newline = true

# Charset
charset = utf-8

# Dotnet defaults
max_line_length = 120

# Align with dotnet formatting rules
csharp_new_line_before_open_brace = all
csharp_indent_block_contents = true
csharp_space_after_comma = true
csharp_space_around_binary_operators = before_and_after
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true